<body>
  <h2>Filtrar Tareas</h2>

  <form #taskForm="ngForm" (ngSubmit)="onFilter(taskForm)">
    <div>
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        [(ngModel)]="nombre"
        placeholder="Nombre de la tarea"
      />
    </div>

    <div>
      <label for="duracion">Duración:</label>
      <input
        type="text"
        id="duracion"
        name="duracion"
        [(ngModel)]="duracion"
        placeholder="Duración de la tarea"
      />
    </div>

    <button type="submit">Filtrar</button>
  </form>

  <h3>Todas las Tareas</h3>
  <ul *ngIf="taskList.length > 0">
    <li *ngFor="let task of taskList">
      <h3>Nombre de la tarea: {{ task.nombre }}</h3>
      <h4>Creador: {{ task.creador }}</h4>
      <h4>Duración: {{ task.duracion }} minutos</h4>
      <h4>ID de tarea: {{ task.id_tarea }}</h4>
    </li>
  </ul>

  <h3>Tareas Filtradas</h3>
  <ul *ngIf="filteredTasks.length > 0">
    <li *ngFor="let task of filteredTasks">
      <h3>Nombre de la tarea: {{ task.nombre }}</h3>
      <h4>Creador: {{ task.creador }}</h4>
      <h4>Duración: {{ task.duracion }} minutos</h4>
      <h4>ID de tarea: {{ task.id_tarea }}</h4>
    </li>
  </ul>
</body>
