main {
  font-family: "Arial", sans-serif;
  padding: 20px;
  background-color: #d0e9e3;
  border-radius: 10px;
  max-width: 80vw;
  margin: auto;
  overflow: auto;
}
h2 {
  font-family: "Black Ops One", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: #004d40;
}

.paginacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.task-list {
  max-height: 70vh;
  overflow-y: auto;
}
.paginacion button {
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paginacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paginacion button:hover:not(:disabled) {
  background-color: #218838;
}

#noPart {
  height: 90vh;
}

.li {
  color: black;
}

#noPartidos {
  text-align: center;
  color: #ff0000;
  font-size: 16px;
  margin-top: 20px;
}

.task-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  color: black;
}

.task-item h3 {
  margin: 5px 0;
}

.task-item small {
  display: block;
  margin-top: 10px;
}

.btn-volver {
  margin-bottom: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-volver:hover {
  background-color: #0056b3;
}
